<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>&lt;host&gt;</string>
	<key>appid</key>
	<string>&lt;appid&gt;</string>
	<key>appkey</key>
	<string>&lt;appkey&gt;</string>
	<key>mode</key>
	<string>&lt;mode&gt;</string>
</dict>
</plist>
